<style>

    .file-drop-zone {
        height: 45vh !important;
        overflow: auto;
    }

    .kv-file-remove {
        visibility: hidden;
    }

    .card {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 0;
        border: none !important;
    }
</style>
<div class="container-fluid">
    <div class="card card-cascade narrower">
        <div class="card-title">
            <div class="row" style="margin-top:20px;">
                <div class="col-12" style="text-align: left; padding-left: 7px; color: #4b4e53;">
                    <h3>
                        <span style="font-weight:500;font-size: 15pt;font-family:HelveticaNeue !important; letter-spacing: 2px;color:#98999a;">Administración de encuestados</span>
                        <img style="height:49px;margin-right:20px; float:right;" src="~/Images/logo-login.png" />
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-control-label">
                    Nombre
                </label>
                <input type="text" class="form-control" title="Nombre" id="Fnombre" />
            </div>

            <div class="col-4">
                <label class="form-control-label">
                    Puesto
                </label>
                <input type="text" class="form-control" title="puesto" id="Fpuesto" />
            </div>
            <div class="col-2">
                <label class="form-control-label">
                    Encuesta respondida
                </label>
                <select id="Fcontestado" style="width:100%;    height: 28px;" class="form-control">
                    <option value="2">No</option>
                    <option value="1">Si</option>

                    <option value="0">Todas...</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-2">
                <label class="form-control-label">
                    Fecha Alta Inicial
                </label>
                <input type="date" class="form-control" id="Ffalta" />
            </div>
            <div class="col-2">
                <label class="form-control-label">
                    Fecha Alta Final
                </label>
                <input type="date" class="form-control" id="Ffaltaf" />
            </div>
            <div class="col-2">
                <label class="form-control-label">
                    Fecha Contestado Inicial
                </label>
                <input type="date" class="form-control" id="Ffcontestado" />
            </div>
            <div class="col-2">
                <label class="form-control-label">
                    Fecha Contestado Final
                </label>
                <input type="date" class="form-control" id="Ffcontestadof" />
            </div>
            <div class="col-1">
                <button class="btn btn-primary" style="margin-top: 10px;" onclick="gdata();"> <span><i class="nav-icon fas fa-search"></i> Buscar</span></button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" style="margin-top: 10px;" onclick="reset()" tabindex="0" aria-controls="" type="button" title="Limpiar"><span><i class="nav-icon fas fa-recycle"></i> Limpiar</span></button>

            </div>
            <div class="col-1">
                <button type="button" class="btn btn-group-sm" title="Nuevo" style="float:right;margin-top: 10px;" id="nuevoUser"> <i class="fas fa-user fa-1x"></i>&nbsp;Agregar </button>
            </div>

        </div>

        <div class="row" style="margin-top:15px;">
            <div class="col-12" style="padding-top:10px">
                <table id="TablaUsuarios" class="table table-striped" style="width:100%">
                    <thead class="LTT12B">
                        <tr>
                            <th>Id</th>

                            <th>Nombre Completo</th>
                            <th>Mail</th>
                            <th>Puesto</th>
                            <th>Fecha</th>
                            <th>Estatus</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="LBT12">
                        @foreach (var str2 in ViewBag.Encuestados)
                        {
                            <tr>
                                <td>@str2.Id</td>
                                <td>@str2.Nombre @str2.Apa @str2.Ama  </td>
                                <td>@str2.mail</td>
                                <td>@str2.puesto</td>
                                <td>@str2.fechaAlta</td>
                                @if (str2.Contestada == 1)
                                {
                                    <td><button class="btn btn-starmedica-success btn-sm" DUsId="@str2.Id" title="Contestada"><i class="fas fa-check-circle"></i></button></td>
                                }
                                else
                                {
                                    <td><button class="btn btn-starmedica-danger btn-sm " title="Sin Contestar"><i class="fas fa-times-circle"></i></button></td>
                                }
                            <td>
                                @if (str2.Contestada == 0)
                                {
                                    <button class="btn btn-starmedica btn-sm" onclick="ReEnviar(@str2.Id)" title="ReEnviar"><i class="fas fa-envelope"></i></button>
                                }
                                @if (str2.Contestada == 1)
                                {
                                    <button class="btn btn-starmedica btn-sm" onclick="VerResp(@str2.Id)" title="Revisar"><i class="fas fa-eye"></i></button>
                                }
                                <button class="btn btn-starmedica btn-sm" onclick="Mod('@str2.Id')" title="Editar"><i class="fas fa-edit"></i></button>
                                <button class="btn btn-starmedica btn-sm" onclick="Eliminar('@str2.Id','@str2.Nombre @str2.Apa @str2.Ama')" title="Eliminar"><i class="fas fa-trash"></i></button>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalUsuario" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo encuestado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos del usuario</a>
                    </li>
                   
                </ul>
                <div id="formUsuarios">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="form-group row" style="display:none">
                                <div class="col-4" style="text-align:left"><label class="control-label">Id</label></div>
                                <div class="col-8">
                                    <input type="text" readonly="readonly" class="form-control" id="Id_Usuario" style="height:24px;" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4" style="text-align:left"><label class="form-control-label">Nombres </label></div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="nombre" required style="height:24px;" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4" style="text-align:left"><label class="form-control-label">Apellido Paterno</label></div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="apa" required style="height:24px;" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4" style="text-align:left"><label class="form-control-label">Apellido Materno</label></div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="ama" required style="height:24px;" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4" style="text-align:left"><label class="form-control-label">Correo</label></div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="email" style="height:24px;" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4" style="text-align:left"><label class="form-control-label">Puesto</label></div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="puesto" style="height:24px;" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4" style="text-align:left"><label class="form-control-label">Días Vigencia</label></div>
                                <div class="col-8">
                                    <input type="number" min="1" step="1"  value="@(ViewBag.vig)" class="form-control" id="dvig" style="height:24px;"  />
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="guardarDatos()">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Meliminar">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><span class="AccLib"></span> Eliminar encuestado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>¿Estás seguro de eliminar al encuestado "<span id="NomUser"></span>"?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="BtnDelUser"><span class="AccLib">Eliminar</span></button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="MDelLib">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><span class="AccLib"></span> Respuestas </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="respuestas">

                </div>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var dv=@ViewBag.vig;
    var ColumnD = [{ "targets": [0],  "visible": false, "searchable": false }, { "width": "20%", "targets": [1] }, { "width": "30%", "targets": [2] }, { "width": "30%", "targets": [3] },{ "width": "20%", "targets": [4] }, { "width": "10%", "targets": [5] }, { "width": "10%", "targets": [6] }]
    var TablaUsuarios = DatatableInitialize("#TablaUsuarios", ColumnD, "50vh");

    TablaUsuarios
        .columns('1')
        .order('asc')
        .draw();

    history.pushState('', '', '/CapturaEncuestados/Index');

    //var ColumnD = [{ "targets": [0], "visible": false, "searchable": false }, { "width": "20%", "targets": [1] }, { "width": "30%", "targets": [2] }, { "width": "30%", "targets": [3] }, { "width": "10%", "targets": [4] }, { "width": "10%", "targets": [5] }]
    //var TablaUsuarios = DatatableInitialize("#TablaUsuarios", ColumnD, "50vh");
    var UsrIdC = 0;
    var StaUsr;

    var now = new Date();
    var today = now.getFullYear() + "-0" + (now.getMonth() - 2)+"-0"+ now.getDay();
    $("#Ffalta").val(today);

    function reset() {
        $("#Fnombre").val('');
        $("#Fnombre").val('');
        $("input[type=date]").val("")
        $("#Ffcontestado").val('').trigger('change');
        $("#Ffaltaf").val('');
        $("#Ffcontestadof").val('');
        $("#Fpuesto").val('');
        gdata();
    }
    $("#nuevoUser").click(function () {
        //$("#ModalUsuario").data('data-title', "Modificar usuario");
        LimpiarInputDiv("formUsuarios");
        $("#username").prop('disabled', false);
        $("#ModalUsuario").modal("show")
        $("#dvig").val(dv);
    });

    function VerResp(Id) {
        var Datos = { "Id": Id };
        AjaxGenerico(4, "GetRespuestas", Datos)
    }

    function ReEnviar(Id) {
            var Datos = { "Id": Id };
            AjaxGenerico(3, "reenviar", Datos)
    }
    function Mod(Id) {
        var Datos = { "Id": Id };
        AjaxGenerico(5, "Mod", Datos)

    }
    var IDdel = 0;
    function Eliminar(Id, nom) {
        IDdel = Id;
        $("#NomUser").text(nom);
        $("#Meliminar").modal("show")
    }

    $("#BtnDelUser").click(function () {
        var An;
        var Datos = { "Id": IDdel };
       
        AjaxGenerico(6, "Del", Datos)
    })
    function gdata() {

        var n = $("#Fnombre").val();
        var c = $("#Fcontestado").val();
        var fi = $("#Ffalta").val();
        var ff = $("#Ffcontestado").val();
        var fif = $("#Ffaltaf").val();
        var fff = $("#Ffcontestadof").val();
        var p = $("#Fpuesto").val();
        //if (fif < fi) {
        //    MNotif("La fecha de incial no puede ser menor a la fecha final.", "warning");
        //    return;
        //}
        //if (fff < ff) {
        //    MNotif("La fecha de incial no puede ser menor a la fecha final.", "warning");
        //    return;
        //}

        var data = {
            "n": n,
            "c": c,
            "fi": fi,
            "ff": ff,
            "fif": fif,
            "fff": fff,
            "p": p,
        }
        AjaxGenerico(0, 'gDta', data);

    }


    function ObtenerCHE(DivID) {
        var UMEdCheck = "";
        var CR = 0;
        var TdsInputs = $('#' + DivID).find(':input');

        for (i = 0; i < TdsInputs.length; i++) {
            var TInput = TdsInputs[i].type;

            if (TInput == "checkbox") {
                if ($(TdsInputs[i]).prop('checked')) {
                    if (UMEdCheck)
                        UMEdCheck += ",";

                    UMEdCheck += $(TdsInputs[i]).attr("idper");
                }
            }
        }
        return UMEdCheck;
    };

    function guardarDatos() {
        var CE = ValidaDivInputs("formUsuarios")


        if (CE.a === 0) {

            var userId = $("#Id_Usuario").val() || '0';
            var data = {
                "Id": userId,
                "nombre": $("#nombre").val(),
                "apa": $("#apa").val(),
                "ama": $("#ama").val(),
                "Email": $("#email").val(),
                "puesto": $("#puesto").val(),
                "dvig": $("#dvig").val()
            }

            var EmailPac = $("#email").val();
            if (EmailValido(EmailPac)) {
                    AjaxGenerico(1, "Create", data)
            }
            } else {
                 MNotif("Correo electrónico inválido", "info")
            }
        }





    function RespuestaAjax(Id, data) {
        try {
            switch (Id) {
                case 0:
                    if (data.R == 1) {

                        TablaUsuarios.clear().draw();
                        if (data.listado != "") {
                            var dta = data.listado;
                            var rows = []
                            for (var x = 0; x < dta.length; x++) {

                                rows.push([
                                    dta[x]["Id"],
                                    dta[x]["Nombre"] + " " + dta[x]["Apa"] + " " + dta[x]["Ama"],
                                    dta[x]["mail"],
                                    dta[x]["puesto"],
                                    ConvEFDate(dta[x]["fechaAlta"], "dd/MM/yyyy HH:mm"),
                                    (dta[x]["Contestada"] == 1 ? '<button class="btn btn-starmedica-success btn-sm" DUsId="' + dta[x]["id"] + '" title="Contestada"><i class="fas fa-check-circle"></i></button>' :
                                        ' <td><button class="btn btn-starmedica-danger btn-sm " title="Sin Contestar"><i class="fas fa-times-circle"></i></button>'),
                                    (dta[x]["Contestada"] == 0 ? '<button class="btn btn-starmedica btn-sm" onclick="ReEnviar('+ dta[x]["Id"]+')" title="ReEnviar"><i class="fas fa-envelope"></i></button>' : "")+
                                    (dta[x]["Contestada"] == 1 ? '<button class="btn btn-starmedica btn-sm" onclick="VerResp(' + dta[x]["Id"] + ')" title="Revisar"><i class="fas fa-eye"></i></button>' : "")+
                                     '<button class="btn btn-starmedica btn-sm" onclick="Mod(' + dta[x]["Id"] + ')" title="Editar"><i class="fas fa-edit"></i></button>'+
                                '<button class="btn btn-starmedica btn-sm" onclick="Eliminar(' + dta[x]["Id"] + ',\''+ dta[x]["Nombre"] + " " + dta[x]["Apa"] + " " + dta[x]["Ama"]+'\')" title="Eliminar"><i class="fas fa-trash"></i></button>'

                                ])

                            }
                            TablaUsuarios.rows.add(rows).draw();
                        }


                    } else {
                        MNotif("Ocurrio un problema al consultar, intente de nuevo.", "alert")
                    }
                    break;
                case 1:
                    if (data.R == 2) {
                        MNotif(data.msg, "alert");
                        $("#Pass").focus();
                    }
                    else
                    if (data.R == 0) {
                        MNotif("Ya existe un registro con el nombre de usuario o email proporcionado", "alert")
                    }
                    else {
                        var BtnEstatusL = "";
                        var usir = "'" + data.enc.Id + "'"
                        if (data.enc.Contestada == 1) {
                            BtnEstatusL = '<td><button class="btn btn-starmedica-success btn-sm"  onclick="DelUser(' + usir +')"  title="Desactivar"><i class="fas fa-check-circle"></i></button></td>'
                        }
                        else {
                            BtnEstatusL = '<td><button class="btn btn-starmedica-danger btn-sm" onclick="ActUser(' + usir +')"  title="Activar"><i class="fas fa-times-circle"></i></button></td>'
                        }
                        var rowId = $('#TablaUsuarios').dataTable().fnFindCellRowIndexes(data.enc.Id, 0);
                        var Datos = TablaUsuarios.row(rowId).data()
                        var rData = [
                            data.enc.Id,
                            $("#nombre").val() + " " + $("#apa").val() + " " + $("#ama").val(),
                            $("#email").val(),
                            $("#puesto").val(),
                            ConvEFDate( data.enc.fechaAlta,"dd/MM/yyyy HH:mm:ss"),
                            BtnEstatusL,
                            (data.enc.Contestada  == 0 ? '<button class="btn btn-starmedica btn-sm" onclick="ReEnviar(' + data.enc.Id+ ')" title="ReEnviar"><i class="fas fa-envelope"></i></button>' : "") +
                            (data.enc.Contestada  == 1 ? '<button class="btn btn-starmedica btn-sm" onclick="VerResp(' + data.enc.Id + ')" title="Revisar"><i class="fas fa-eye"></i></button>' : "")
                               ];
                        UpdateTableRow(rData, data.Id, TablaUsuarios, "TablaUsuarios")
                        $("#ModalUsuario").modal("hide")
                        MNotif("Datos guardados", "success")
                        LimpiarInputDiv("formUsuarios");
                    }
                    break;
                case 2:
                    $("#ModalUsuario").data('data-title', "Modificar usuario");
                    LimpiarInputDiv("formUsuarios");
                    var Datos = data["User"]
                    var DatosM = data["Umed"]
                    AsignarDIC("ContenedorUMedicas", DatosM);
                    //AsignarDIC("ContenedorDir", data["dir"]);
                    //AsignarDIC("ContenedorGrupos", data["gr"]);
                    $("#username").prop('disabled', true);
                    $("#Pass").prop('disabled', true);
                    $("#CPass").prop('disabled', true);
                    AsignarDatosI(Datos);
                    $("#ModalUsuario").modal("show")
                    break;
                case 3:
                    if (data.R == 1) {

                        MNotif("La encuesta ha sido enviada", "alert");
                    }
                    else
                        if (data.R == 0) {
                            MNotif("Existio un problema, intentelo de nuevo", "alert")
                        }
                    break;
                case 4:

                    if (data.R == 1) {
                        if (data.r != "") {
                            var en = data.enc;
                            var dta = data.r;
                            var txt = "<div style='margin-bottom:10px;'>Encuestado: <label class='form-control - label'> " + en.Nombre+" "+en.Apa+" "+en.Ama + "</label></div>" +
                                "<div style='margin-bottom:10px;'>Estatus del candidato<label class='form-control - label'> " + dta.rp1 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>Reclutador o primer contacto<label class='form-control - label'> " + dta.rp2 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>¿Cómo te enteraste de la vacante?<label class='form-control - label'> " + dta.rp3 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>Cuando leíste la descripción del trabajo, ¿era clara y comprensible?<label class='form-control - label'> " + dta.rp4 + "</label></div>" +
                                "<div style='margin-bottom:10px;'> Después de que te postulaste o enviaste tu información, ¿Cuánto tiempo tardamos en contactarte?<label class='form-control - label'> " + dta.rp5 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>¿El reclutador se comportó amable durante la entrevista?<label class='form-control - label'> " + dta.rp6 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>¿El reclutador explicó claramente los detalles del puesto?<label class='form-control - label'> " + dta.rp7 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>¿Te sentiste cómodo durante la entrevista?<label class='form-control - label'> " + dta.rp8 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>Después de la entrevista, ¿se te informó cuáles serían los siguientes pasos del proceso?<label class='form-control - label'> " + dta.rp9 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>En caso de haber acudido a una entrevista presencial, ¿se te informó oportunamente con quién debías presentarte?<label class='form-control - label'> " + dta.rp10 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>En tu visita a hospital, ¿alguna persona te recibió para pasarte a entrevista?<label class='form-control - label'> " + dta.rp11 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>¿El entrevistador aclaró tus dudas y complementó la información de la vacante?<label class='form-control - label'> " + dta.rp12 + "</label></div>" +
                                "<div style='margin-bottom:10px;'> ¿El entrevistador fue amable contigo?<label class='form-control - label'> " + dta.rp13 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>Para tu entrevista presencial, ¿tuviste que viajar a alguno de nuestros hospitales y/o Oficinas Corporativas?<label class='form-control - label'> " + dta.rp14 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>En caso de haber viajado a alguna otra sede, ¿se te ofreció el pago de tus viáticos?<label class='form-control - label'> " + dta.rp15 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>¿El reclutador dio seguimiento puntual a tu proceso durante todas las etapas?<label class='form-control - label'> " + dta.rp16 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>En general, ¿Qué tan satisfecho estás con el proceso de reclutamiento?<label class='form-control - label'> " + dta.rp17 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>En función de tu experiencia, ¿recomendarías a Star Médica como lugar para trabajar, a un colega o conocido?<label class='form-control - label'> " + dta.rp18 + "</label></div>" +
                                "<div style='margin-bottom:10px;'>¿Tienes algún comentario o sugerencia adicional que nos pueda ayudar a mejorar el proceso de reclutamiento?<label class='form-control - label'> " + dta.rp19 + "</label></div>";

                            $("#respuestas").html(txt);

                            }


                        $("#MDelLib").modal("show");

                    }

                    break;
                case 5:
                    $("#Id_Usuario").val(data.enc.Id);
                    $("#nombre").val(data.enc.Nombre);
                    $("#apa").val(data.enc.Apa);
                    $("#ama").val(data.enc.Ama);
                    $("#email").val(data.enc.mail);
                    $("#puesto").val(data.enc.puesto);
                    $("#dvig").val(data.enc.DiasVig);
                    $("#ModalUsuario").modal("show");
                    break;
                case 6:
                    if (data.R == 1) {
                        gdata();
                        $("#Meliminar").modal("hide");
                    } else {
                        MNotif("Existio un problema, intentelo de nuevo", "alert")
                    }

                    break;

                default:
            }
            $("#DivLoader").hide();
        } catch (err) {
            $("#DivLoader").hide();
            MNotif("Ocurrió un error al recibir la respuesta del servidor, f:" + Id, "error")
        }
    }


    $("#email").blur(function () {
        if (!EmailValido($(this).val())) {
            MNotif("Correo electrónico inválido", "info")
        }
    })

    function AsignarDIC(DivId, DatosM) {
        var panel = $("#" + DivId);
        var inputs = panel.find("input");
        for (var i = 0; i < DatosM.length; i++) {
            var uni = DatosM[i]
            for (var x = 0; x < inputs.length; x++) {
                var inp = $(inputs[x]).attr("idper")
                if (inp == uni) {
                    $(inputs[x]).prop('checked', true);
                }
            }
        }
    }
</script>
